* {
  color: #fff;
}

input {
  color: #111;
}

button {
  background-color: #888;
  color: #111;
  border: 0;
  margin: 5px;
  padding: 5px;
}

body {
  font-family: verdana;
  background-color: #000;
}

.main {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.main-containers {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.topbar-container {
  flex: auto;
  height: 30px;
}

.editor-container {
  flex: auto;
  border: 1px solid #000;
}

.animation-bar-container {
  width: 250px;
  border: 1px solid #000;
}

.sidebar-container {
  width: 350px;
  border: 1px solid #000;
}

.sidebar {
  overflow: auto;
  height: 100%;
}

.sidebar canvas {
  cursor: default; 
}

.animator {
  background-color: #858585;
  height: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.animator canvas {
  margin-bottom: 25px;
}

.animator input {
  margin-bottom: 15px;
  margin-left: 5px;
}

.animation-item {
  cursor: pointer;
}

.animation-item.selected {
  color: #999;
}
